{% extends "layout.html" %}


{% block content %}

<h1>Student Management</h1>
<p>Welcome to the Student Management System.</p>
    <a href="{% url 'create_student' %}"><button type="button" class="btn btn-outline-success">Create Student</button></a>


{% if students %}
<h2>Student List</h2>
<table class="display" style="width: 100%;" id="myTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Email</th>
            <th scope="col">Admission Date</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        {% if student.status != "deleted" %}
        <th scope="row">{{student.student_id}}</th>
        <td>{{student.student_name}}</td>
        <td>{{student.student_class}}</td>
        <td>{{student.student_email}}</td>
        <td>{{student.student_admission_date}}</td>
        <td>{{student.created_at}}</td>
        <td>{{student.updated_at}}</td>
        <td class="d-flex justify-content-center space gap-2">
            <a href="{% url 'update_student' student.student_id %}"><button type="button" class="btn btn-primary">
                    Edit
                </button></a>
            <form action="{% url 'delete_student' student.student_id %}" method="post">
                {% csrf_token %}
                <button type="button"
                    onclick="confirm('Are you sure you want to delete this student?') ? this.form.submit() : null;"
                    class="btn btn-danger">Delete</button>
            </form>
        </td>
        </tr>
        {% endif %}

        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No students found.</p>
{% endif %}

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if success_message %}
<p style="color: green;">{{ success_message }}</p>
{% endif %}
{% endblock %}